@charset "UTF-8";
/*---------Обнуление-----------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------utilities-----------*/
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  background-color: #3A68B8;
  color: #FFFFFF;
  min-height: 50px;
  padding: 15px 30px;
  line-height: 1.4;
  border-radius: 5px;
  font-size: 16px;
}

.title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

/*---------custom-----------*/
.header {
  background-color: #06101f;
  padding: 20px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__logo .header-brand__name {
  display: inline-block;
  margin-left: 15px;
  color: #3A68B8;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.header-menu {
  flex: 1 1 auto;
  margin-left: 80px;
}

.header-menu__list {
  display: flex;
  flex-wrap: wrap;
}

.header-menu__item:not(:first-child) {
  margin-left: 40px;
}

.header-menu__link {
  font-weight: 600;
  color: #FFFFFF;
}

.home-intro {
  background-color: #06101f;
  border-bottom: 1px solid transparent;
}

.home-intro__container {
  display: flex;
  max-width: 1350px;
  padding-top: 50px;
  padding-bottom: 90px;
  margin: 0 auto;
}

.home-intro__content {
  max-width: 605px;
  align-self: center;
}

.home-intro__subtitle {
  text-transform: uppercase;
  color: #3A68B8;
  font-size: 18px;
  margin-bottom: 10px;
}

.home-intro__title {
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 40px;
}

.home-intro__text {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 50px;
  padding-right: 45px;
}

.home-intro__btns {
  display: flex;
  flex-wrap: wrap;
}

.home-intro__button {
  margin-right: 20px;
}

.home-intro__video {
  display: inline-block;
  font-size: 20px;
  position: relative;
}

.home-intro__video-button {
  padding-left: 55px;
}

.home-intro__video-button::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 30px;
  border: 12px solid white;
  border-right-width: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.home-intro__image {
  margin-left: 115px;
}

.home-intro__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.home-intro__logo {
  margin-bottom: 20px;
}

.home-learn {
  background-color: #000311;
}

.home-learn__container {
  display: flex;
  max-width: 1300px;
  padding-top: 130px;
  margin: 0 auto;
}

.home-learn__content {
  max-width: 490px;
  align-self: center;
  margin-left: 70px;
}

.home-learn__title {
  margin-bottom: 30px;
}

.home-learn__text {
  margin-bottom: 50px;
  opacity: 0.7;
}

.home_awards {
  background-color: #000311;
  border-top: 1px solid transparent;
}

.home-awards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.7;
  margin-top: 170px;
}

.home-awards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #050d1d;
  padding: 30px;
  max-width: 360px;
  margin-bottom: 20px;
}

.home-awards__item:not(:first-child) {
  margin-left: 20px;
}

.home-awards__img {
  flex: 0 1 103px;
  object-fit: none;
}

.home-awards__title {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
  flex: 1 1 auto;
}

.home-awards__text {
  text-align: center;
  margin-top: 30px;
}

.home-awards__plugin {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.home-awards__plugin span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #2C3647;
  border-radius: 50%;
  opacity: 50%;
}
.home-awards__plugin .active-button {
  opacity: 1;
}

.home-recall {
  background-color: #000311;
  padding-top: 150px;
  padding-bottom: 170px;
}

.home-recall__container {
  display: flex;
  justify-content: center;
}

.home-recall__content {
  align-self: center;
  max-width: 550px;
}

.home-recall__title {
  margin-bottom: 40px;
}

.home-recall__text {
  padding-right: 90px;
  opacity: 0.7;
}

.home-recall__text:not(:last-child) {
  margin-bottom: 20px;
}

.home-recall__image {
  margin-left: -45px;
}

.footer {
  background-color: #06101f;
  padding-top: 75px;
  font-size: 14px;
  padding-bottom: 50px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__left, .footer__right {
  flex: 0 1 24%;
}

.footer-brand__name {
  display: block;
  margin-top: 10px;
  color: #3A68B8;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-brand__text {
  opacity: 0.6;
  font-weight: 400;
  margin-bottom: 35px;
}

.footer-list__link {
  font-weight: 400;
  color: #FFFFFF;
}

.icon {
  display: inline-block;
  width: 15px;
  height: 17px;
  vertical-align: middle;
  margin-right: 5px;
}

.icon-email {
  background: url("./img/footer_email.png") 0 0 no-repeat;
}

.icon-phone {
  background: url("./img/footer_phone.png") 0 0 no-repeat;
}

.icon-address {
  background: url("./img/footer_address.png") 0 0 no-repeat;
}

.footer__center {
  flex: 0 1 52%;
}

.footer-section {
  margin-top: 25px;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav__section:not(:last-child) {
  margin-right: 15px;
}

.footer-title {
  margin-bottom: 30px;
  font-size: 16px;
  text-transform: uppercase;
}

.footer-list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav__section .footer-list__link, .footer-section__text {
  opacity: 0.6;
}

.footer-section__text-link {
  display: inline-block;
  color: #FFFFFF;
  margin-top: 30px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-social__item:not(:first-child) {
  margin-left: 25px;
}

.footer-right__lang {
  position: relative;
  margin-top: 50px;
  background: url("./img/footer_lang.png") 0 0 no-repeat;
}

.footer-lang {
  color: #FFFFFF;
  background-color: #06101f;
  margin-left: 20px;
}

/*# sourceMappingURL=main.css.map */
